@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a asp-controller="Audits" asp-action="index" class="btn btn-primary">Audit Log</a>
    <a asp-controller="Students" asp-action="Index" class="btn btn-primary">Student List</a>
    <a asp-controller="AuditTrails" asp-action="Index" class="btn btn-primary">Audit Trails</a>
</div>
